In [29]:
import csv
import os
import pandas as pd
import pathlib as Path
import matplotlib.pyplot as plt

csvpath = os.path.join("..", "Sales_Data", "Sales_January_2019.csv")

### OPENING, READING, AND ITERATING THROUGH EACH ROW AND COLUMN TO SUM EACH ONE. INTEGERS ONLY.

In [24]:
# opens CSV file to read, csv.reader function is used to read the file, next() function is used to read the header.
with open('merged_file_totals.csv', 'r') as file:
    reader = csv.reader(file)

    # get the header row
    header = next(reader)

    # create a dictionary to store the column sums header [i] is the key and it's set to zero. for statement iterates through the range of numbers the length of the headers.
    column_sums = {header[i]: 0 for i in range(len(header))}

    # Iterates through each row using the reader function which is a function that iterates through rows
    for row in reader:
        # this is to iterates through the columns remember the range is the length of the row.
        for i in range(len(row)):
            # adds the totals of each column to columns headers
            column_sums[header[i]] += int(row[i])

for column, sum in column_sums.items():
    print(f'{column}: {sum}')

Quantity Ordered: 209038
Total: 34490742

### Merging Multiple Files Together for Analysis

In [25]:
# Create a variable with a list of the file names to be merged. Remember all headers need to be the same to work properly.
filenames = ['Sales_January_2019.csv', 'Sales_February_2019.csv', 'Sales_March_2019.csv', 
            'Sales_April_2019.csv','Sales_May_2019.csv','Sales_June_2019.csv',
            'Sales_July_2019.csv','Sales_August_2019.csv','Sales_September_2019.csv',
            'Sales_October_2019.csv','Sales_November_2019.csv','Sales_December_2019.csv']

# Create an empty dataframe to store csv file
year_2019_df = pd.DataFrame()

# line one iterates through filenames. line 2 reads the csv file and line three adds it to a data frame. append data from each file
for filename in filenames:
    data = pd.read_csv(filename)
    year_2019_df = year_2019_df.append(data)

# basically creating a new file with the dataframe of your choice. Index False will remove the index and keep just the data.
year_2019_df.to_csv('merged_file_org.csv', index=False)

C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)
C:\Users\12626\AppData\Local\Temp\ipykernel_24672\459448863.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  year_2019_df = year_2019_df.append(data)

### Read in Merged Data Set

In [26]:
merged_file_2019 = pd.read_csv('merged_file_2019.csv')
merged_file_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Total,Date,Time,Street Address,City,State,Zip Code
0,141234.0,iPhone,1.0,$700.00,$700.00,1/22/2019,9:25:00,944 Walnut St,Boston,MA,2215.0
1,141235.0,Lightning Charging Cable,1.0,$14.95,$14.95,1/28/2019,2:15:00,185 Maple St,Portland,OR,97035.0
2,141236.0,Wired Headphones,2.0,$11.99,$23.98,1/17/2019,1:33:00,538 Adams St,San Francisco,CA,94016.0
3,141237.0,27in FHD Monitor,1.0,$149.99,$149.99,1/5/2019,8:33:00,738 10th St,Los Angeles,CA,90001.0
4,141238.0,Wired Headphones,1.0,$11.99,$11.99,1/25/2019,11:59:00,387 10th St,Austin,TX,73301.0

### Identifying each indiviual entry in the State column and counting each one.

In [33]:
state_list = merged_file_2019['City'].unique()
state_count = merged_file_2019['City'].value_counts()
print(state_list, state_count)

[' Boston' ' Portland' ' San Francisco' ' Los Angeles' ' Austin'
 ' Atlanta' ' Seattle' ' New York City' ' Dallas' nan]  San Francisco    44720
 Los Angeles      29604
 New York City    24866
 Boston           19930
 Atlanta          14881
 Dallas           14818
 Seattle          14731
 Portland         12463
 Austin            9903
Name: City, dtype: int64

### What was the best month for sales? How much was earned that month?

### Cleaning Data with Python

In [ ]:
# Converted Dataframe to csv file
# new_all_2019.to_csv('new_all_2019.csv', index=False)

In [ ]:
# Converted csv file to Dataframe
# clean_all_2019 = pd.read_csv('clean_all_2019.csv')
# clean_all_2019.head()

In [55]:
merged_file_2019['Time'] = merged_file_2019['Time'].astype('str')
merged_file_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Total,Date,Time,Street Address,City,State,Zip Code
0,141234.0,iPhone,1.0,$700.00,$700.00,1/22/2019,9:25:00,944 Walnut St,Boston,MA,2215.0
1,141235.0,Lightning Charging Cable,1.0,$14.95,$14.95,1/28/2019,2:15:00,185 Maple St,Portland,OR,97035.0
2,141236.0,Wired Headphones,2.0,$11.99,$23.98,1/17/2019,1:33:00,538 Adams St,San Francisco,CA,94016.0
3,141237.0,27in FHD Monitor,1.0,$149.99,$149.99,1/5/2019,8:33:00,738 10th St,Los Angeles,CA,90001.0
4,141238.0,Wired Headphones,1.0,$11.99,$11.99,1/25/2019,11:59:00,387 10th St,Austin,TX,73301.0

In [56]:
print(merged_file_2019.dtypes)

Order ID            float64
Product              object
Quantity Ordered    float64
Price Each           object
Total                object
Date                 object
Time                 object
Street Address       object
City                 object
State                object
Zip Code            float64
dtype: object